mixin slider(param, idTab)
    +b.slider()&attributes(attributes)
        +e.icon-arrow-left(data-change="down")
        +e.icon-arrow-right(data-change="up")
        each item, index in param
            +e.item(id="#{idTab}-#{index}" class=item.active?'slider__item_active':''  style="background-image:url('#{item.src}')")
                +e.P.description
                    +e.SPAN.text #{item.text}
                    +e.SPAN.title #{item.title}
                    +e.SPAN.note #{item.note}
                    +e.icon-plane
